<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3 style="text-align: center; margin: 30px auto">Profile</h3>
    <div class="profile-container">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <img
            src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
            alt=""
            style="width: 150px"
          />
          <h5 class="card-title">
            Name : {{ user.firstName + " " + user.lastName }}
          </h5>
          <p class="card-text">Username : {{ user.userName }}</p>
          <p class="card-text">Address : {{ user.address }}</p>
          <p class="card-text">Phone Number : {{ user.phoneNumber }}</p>
          <a class="btn btn-success" href="updateProfile">Update</a>
          <button
            style="margin-left: 15px"
            class="btn btn-danger"
            (click)="deleteProfile()"
          >
            Delete Profile
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
