<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <div class="register-container">
        <h3 style="margin-bottom: 30px">Register Here</h3>
        <form [formGroup]="registrationForm" (ngSubmit)="handleRegistration()">
            <div class="mb-3">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
                <div *ngIf="registrationForm.get('firstName')?.hasError('required') && registrationForm.get('firstName')?.touched" class="text-danger">
                    First Name is required
                </div>
            </div>

            <div class="mb-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
                <div *ngIf="registrationForm.get('lastName')?.hasError('required') && registrationForm.get('lastName')?.touched" class="text-danger">
                    Last Name is required
                </div>
            </div>

            <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" formControlName="address">
                <div *ngIf="registrationForm.get('address')?.hasError('required') && registrationForm.get('address')?.touched" class="text-danger">
                    Address is required
                </div>
            </div>

            <div class="mb-3">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                <div *ngIf="registrationForm.get('phoneNumber')?.hasError('required') && registrationForm.get('phoneNumber')?.touched" class="text-danger">
                    Phone Number is required
                </div>
                <div *ngIf="registrationForm.get('phoneNumber')?.hasError('invalidPhoneNumber') && registrationForm.get('phoneNumber')?.touched" class="text-danger">
                    Invalid phone number format. It must be 10 digits.
                </div>
            </div>

            <div class="mb-3">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" formControlName="userName">
                <div *ngIf="registrationForm.get('userName')?.hasError('required') && registrationForm.get('userName')?.touched" class="text-danger">
                    User Name is required
                </div>
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched" class="text-danger">
                    Password is required
                </div>
                <div *ngIf="registrationForm.get('password')?.hasError('invalidPassword') && registrationForm.get('password')?.touched" class="text-danger">
                    Must contains 8 characters, including a number, a lowercase, a uppercase letter and special characters #, ?, !, @.
                </div>
            </div>

            <div>
                <button type="submit" [disabled]="registrationForm.invalid" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</body>
</html>
