<div class="update-container">
  <h3 style="margin-bottom: 30px">Enter Details</h3>
  <form [formGroup]="updateForm" (ngSubmit)="handleUpdate()">
    <div class="mb-3">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
    </div>

    <div class="mb-3">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
    </div>

    <div class="mb-3">
      <label for="address">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        formControlName="address"
      />
    </div>

    <div class="mb-3">
      <label for="phoneNumber">Phone Number</label>
      <input
        type="text"
        class="form-control"
        id="phoneNumber"
        formControlName="phoneNumber"
      />

      <div
        *ngIf="updateForm.get('phoneNumber')?.hasError('invalidPhoneNumber')"
        class="text-danger"
      >
        Invalid phone number format. It must be 10 digits.
      </div>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="updateForm.invalid"
        class="btn btn-primary"
      >
        Update Details
      </button>
    </div>
    <div
      class="alert alert-success"
      style="margin-top: 10px"
      role="alert"
      *ngIf="status !== null"
    >
      {{ status }}
      <a style="margin-left: 5px" href="">Go to home</a>
    </div>
  </form>
</div>
