<div>
  <h3 style="margin-bottom: 50px; text-align: center">
    Notices and promotions
  </h3>

  <div class="home-cards">
    <div class="card" style="width: 18rem">
      <img
        src="https://img.freepik.com/free-vector/going-green-checklist-instagram-story_23-2148662164.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Travel Requirements</h5>
        <p class="card-text">
          For the list of domestic & international travel requirements, please
          visit our Support Page here.
        </p>
        <a href="#" class="btn btn-primary">Read Here</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://i.etsystatic.com/6013650/r/il/ab0d35/2847350363/il_fullxfull.2847350363_nrvt.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Contactless check-in is now available</h5>
        <p class="card-text">Fly safer, check-in via website or app instead</p>
        <a href="#" class="btn btn-primary">Check In</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://media.istockphoto.com/id/1351542181/photo/seedling-are-growing-from-the-rich-soil-concept-of-business-growth-profit-development-and.webp?b=1&s=170667a&w=0&k=20&c=CiBpnIVuDo19WEqH1o4oaYvtSwgz8XtRSPH3__0tf4E="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">NEW: Platina Pass ✨</h5>
        <p class="card-text">Purchase now and enjoy a hassle-free journey!</p>
        <a href="#" class="btn btn-primary">Get Now</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202304/environmental-protection-326923_960_720-sixteen_nine.jpg?VersionId=B3Oz9LytwjXFSjSyvOwV0IPSC9724VPN&size=690:388"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">The Future Is Already Here</h5>
        <p class="card-text">
          Get ready for a contactless, digital travel experience with Air
          Platina.
        </p>
        <a href="#" class="btn btn-primary">Fly Platina</a>
      </div>
    </div>
  </div>
</div>
