.navbar-text {
  margin-right: 30px;
}

.admin-cards-container {
  margin: 60px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: #b0d9b1 0px 2px 8px 0px;
}
