.primary-logo {
  margin-left: 30px;
}

.navbar-text {
  margin-right: 30px;
}

.register-in-button {
  margin-left: 20px;
}

.home-body-container{
  margin: 50px 30px;
}

.home-cards{
  display: flex;
  justify-content: space-evenly;
}

.card{
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
  box-shadow: #B0D9B1 0px 2px 8px 0px;
}


