<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="signin-container">
      <h3 style="margin-bottom: 30px">Sign In</h3>
      <form #signinform="ngForm" (ngSubmit)="handleSignin(signinform)">
        <div class="mb-3 row">
          <label for="userName" class="col-sm-2 col-form-label"
            >User Name</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="userName"
              name="userName"
              required
              [(ngModel)]="formData.userName"
            />
            <div
              *ngIf="
                signinform.controls['userName'].invalid &&
                signinform.controls['userName'].touched
              "
              class="text-danger"
            >
              User Name is required
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
              [(ngModel)]="formData.password"
            />
            <div
              *ngIf="
                signinform.controls['password'].invalid &&
                signinform.controls['password'].touched
              "
              class="text-danger"
            >
              Password is required
            </div>
          </div>
        </div>
        <div class="col-12">
          <button
            type="submit"
            [disabled]="signinform.invalid"
            class="btn btn-primary"
          >
            Sign In
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
